snippet h1 "HEADER 1" b
### ${0:HEADER-1${VISUAL}}
endsnippet

snippet h2 "HEADER 2" b
#### ${0:HEADER-2${VISUAL}}
endsnippet

snippet cd "Code" b
\`${0:code${VISUAL}}\`
endsnippet

snippet cdl "Code Line" b
\`\`\`
	${0:code-block${VISUAL}}
\`\`\`
endsnippet
